.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    background-color: light-gray;
}

.aboutContent {
    background-color: white;
    color: gray;
}