.loadingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1)
  }
  
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(255, 255, 255, 0.5);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
    display: flex;
  }
  
  .loadingText {
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: gray;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  